/Paper/*.out
/Paper/*.pdf
/Paper/*.aux
/Paper/*.log
/Paper - Deutsch/*.log
/Paper - Deutsch/*.out
/Paper - Deutsch/*.pdf
/Paper - Deutsch/*.gz
/Paper - Deutsch/*.aux
*.log
*.out
*.pdf
*.gz
*.aux
/Prototyp/Bot/lambda/node_modules/*
/Prototyp/Bot/index.zip
/Prototyp/Bot/build/*